.maindiv{

    height: 500px;
    width: 350px;
    background-color: rgb(182, 163, 163);
    text-align: center;
    margin-left: 400px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 40px;
}

.screen{
    text-align: right;
    height: 80px;
    width: 300px;
    font-size: 2rem;
      margin-top: 10px;
}

.number{
    width: 70px;
    text-align: center;
    height: 60px;
    margin: 5px;
border-radius: 15px;
    
}


.operator{
    width: 70px;
    text-align: center;
    height: 60px; 
   margin: 5px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(211, 201, 201);
}
.clear{
     width: 70px;
    text-align: center;
    height: 60px; 
   margin: 5px;
   background-color: rgb(222, 105, 105) ;
   border-radius: 15px;
}
.button:hover{
    border: 5px solid white;
    cursor: pointer;
}
